.header {
    height: 25%;
    width: 100%;
    border-radius: 50px;
    background-image: linear-gradient(to right, #385edb, #4ed657);
    color: white;
}

.header-nav {
    /* gap: 10px; */
    margin-right: 12em;
}

.logo {
    margin-left: 10em;
}

.gallery {
    background-color: transparent;
    border: none;
    color: white;
}

.gallery:hover {
    cursor: pointer;
}

.about {
    background-color: transparent;
    border: none;
    color: white;
}

.about:hover {
    cursor: pointer;
}